<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wx.wxceshi.mapper.UserMapper">
    <sql id="uu">
        id,name,gender,age,school,phone,salary
    </sql>

    <!--查询所有用户-->
    <select id="findAllUser" resultType="wx.wxceshi.bean.User">
        select <include refid="uu" /> from user
    </select>

    <!--新增用户信息-->
    <insert id="saveUser" parameterType="wx.wxceshi.bean.User">
        insert into user(<include refid="uu" />)values(#{id},#{name},#{gender},#{age},#{school},#{phone},#{salary})
    </insert>

    <!--根据id查询用户信息-->
    <select id="findUserById" resultType="wx.wxceshi.bean.User">
        select <include refid="uu"/> from user where id=#{value}
    </select>

    <!--根据id删除用户-->
    <delete id="delUserById">
        delete from user where id=#{value}
    </delete>

    <!--根据Id修改用户信息-->
    <update id="updateUserById" parameterType="wx.wxceshi.bean.User">
        update user set name=#{name},gender=#{gender},age=#{age},school=#{school},phone=#{phone},salary=#{salary} where id=#{id}
    </update>
</mapper>
